html, body {
    font-family: var(--font-poppins);
    background-color: var(--bg-color);
    color:  var(--primary-color);
}

i {
    &:hover {
        cursor: pointer;
    }
}

.btn-close:hover {
    background-color: #f44336;
}
