@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:wght@100;300&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;

    --bg-color: #202020;
    --primary-color: #ccc;
    --secondary-color: #303030;
    --secondary-color-light: #404040;
    --darker-color: #101010;
}